body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  background-color: #c9b7b7;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.main {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  
}

#sidebar {
  width: 250px;
  padding: 20px;
}

.content {
  padding: 20px;
  margin: 0% 30% 0%;
}

.footer {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}
